<h1>今日のjava</h1>

 <div class="11月6日">
    package chap02;

    public class Code_2_1_2_15 {

	    public static void main(String[] args) {

		    int a;
    		int b;//①変数宣言の文
    		a = 20;//②計算の文（代入）
    		b = a + 5;//③計算の文（足し算して代入）。式と呼ぶ。
    		System.out.println(a);
            System.out.println(b);

            /*
              オペランド…上の「a」「b」「5」のことをいう。
              演算子………上の「+」「＝」のことをいう。
              ↑の全ての式はこの2つの要素だけで構成されています。
              リテラル……オペランドの中でも数字「5」や文字列「Hello World」など、ソースコードに
                          記述されている具体的な値のこと。データ型を持っています。
            */

            System.out.println("私の好きな記号は二重引用符(")です");//javaは前から文字列を認識するためエラーになる"

            System.out.println("私の好きな記号は二重引用符(\")です");
            /*
              \によってダブルクォーテーションは文字としてみなされる。
              \100を表示する場合、￥￥と二つつける。
             */
	    }

    }
 </div>